.container {
    height: 100%;
    width: 75%;
}

.block {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(167, 167, 167, 0.493);
    padding: 50px;
    border-radius: 5px;
    background-color: white;
}

.filtre_and_products_container{
    display: flex;
    flex-direction: row;
    background-color: #f0f2f5;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}